In [ ]:
from IPython.display import Image
from IPython.core.display import HTML

# **Introduction to Data Analysis with Python**

# BEFORE WE BEGIN
### Please Complete This Brief Pre-Workshop Survey: https://forms.gle/jvt7rJ2AFwJRtBJo6

## Agenda
* Introductions
* What is Python
* Python Fundamentals
* Storing Multiple Values
* Loops
* Functions
* Conditionals
* Libraries
* Plotting
* Resources

# Mahathi Ryali
<img src="images/mahathi.jpg" width="400">



Quick Facts:

    üêª Year: Junior 
    üéí Major: Computer Science and Data Science
    ‚≠ê Hobbies: Dance, Violin, Baking
    üìä Joined the Discovery Consulting team in Spring 2023

# Diego Sotomayor
<img src="images/Diego_Sotomayor.png" width = '400'>


Quick Facts:
    
    üêª Year: Senior 
    üéí Major: Data Science
    ‚≠ê Hobbies: Cook, Painting, Dance
    üìä Joined the Discovery Consulting team in Spring 2023

# What is Python?

![Python Logo](images/python-logo.png)


> Python is a high-level, general-purpose programming language that emphasizes code readability.

# IOKN2K
It's OK Not To Know

https://dlab.berkeley.edu/blog/what-iokn2k



---

# Python Fundamentals
> In this section we will be talking about one functionality of Python (a calculator), what variables are and how we can use them, what are the types of data in Python, and some built-in functions that Python has.

### **Python as a Calculator**

In [ ]:
2 + 3

As we can see below, Python follows order of operations while evaluating expressions

In [ ]:
3 + 5 * 4

In [ ]:
(3**2) - 4 * 6 / 2 + 5

In [ ]:
5 / 6

In [ ]:
4 % 2

In [ ]:
7 % 3

### **Data Types**
> There are 4 main data types in Python: Integers, Floats, Strings, and Booleans

In [ ]:
32 #integer

In [ ]:
32.0 #float

In [ ]:
2.7 #float

In [ ]:
'hello' #string

In [ ]:
"123" #string

In [ ]:
True #boolean

In [ ]:
False #boolean

### **Variables**
> Now that we some different data types in Python, what if we want to keep track of these values somehow?

In [ ]:
sum_of_nums = 2 + 3
sum_of_nums

In [ ]:
sum_of_nums = 5 * 4
sum_of_nums

In [ ]:
workHours = 8
workDays = 5
workHoursPerWeek = workHours * workDays
workHoursPerWeek

**Note:** Assigning a value to one variable does not change values of other variables. 

For example, let's try to convert weight in kilograms to pounds:

In [ ]:
weight_kgs = 100
#There are 2.2 kilograms in a pounds
weight_lbs = 2.2 * weight_kgs
weight_kgs

In [ ]:
weight_lbs

In [ ]:
int(weight_lbs)

In [ ]:
string_variable = 'wow'
string_variable

In [ ]:
string_Variable

Keep in mind: 
* think of variables as buckets
* how you name your variables is very important
* variable names must start with a letter and can't have any operators

### **Built-in Functions**
> Built-in functions are functions that are already defined so they can be used without writing any extra code.

In [ ]:
print(123)

In [ ]:
print("123")
print(string_variable)

In [ ]:
print("You can", "combine sentences")

In [ ]:
print("This is " + "another way to add")

In [ ]:
print("Work hours per week:", workHoursPerWeek)

In [ ]:
type(string_variable)

In [ ]:
type(123)

In [ ]:
type("123")

In [ ]:
type(True)

In [ ]:
type(2.7)

In [ ]:
type(20 + 3)

### **Exercise:** What data type is "5 * 4"? 
##### *(Hint: If you're unsure, the ```type(variable)``` function may be useful)*

**ANSWER HERE**

### **Exercise:**
*   **Create a variable storing the current temperature at Cal in Fahrenheit**
*   **Create a variable converting the current temp to the nearest degree Celsius**
*   **Create a variable converting the current temp to the nearest degree Kelvin**
*   **Print all the temperatures, with a short string describing what they represent in ONE line of code:**

*(Hint: F to C: 5/9 * (F-32))*

*(Hint: C to K: Celsius + 273.15)*

Note: Let's say the current temperature is 68 degrees F

In [ ]:
tempf = ...
tempc = ...
tempk = ...
print(...)



---

# Storing Multiple Values
> We can store multiple values together in one list.

In [ ]:
my_list = [1, 2, 3, 4]
my_list

In [ ]:
my_list.append(5)
my_list

In [ ]:
my_list.remove(1)
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1:]

In [ ]:
my_list[:2]

In [ ]:
my_list.append(6)
my_list[1:3]

In [ ]:
my_list



---

# Repeating Actions with Loops
> Instead of writing the same lines of code over and over again, we can simplify our code with loops

#### **QUESTION:** How can we do the same operations on different values?

Suppose we have the word "lead" and we want to print out each individual letter per line. We could write it out manually:

In [ ]:
word = "lead"
print(word[0])
print(word[1])
print(word[2])
print(word[3])

But this would be super cumbersome if we had to do this for longer words like "Pseudopseudohypoparathyroidism".

This is where loops would be useful to have:

```
**For loop**
for trackerName in variable: 
    //code 
```

In [ ]:
word = "python"
for letter in word:
    print(letter)

In [ ]:
word = "workshop"
lengthOfWord = 0;
for letter in word:
    lengthOfWord = lengthOfWord + 1
print(lengthOfWord)

In [ ]:
some_list = [1, 2, 3]
for num in some_list:
    print(num)

```
while (booleanStatement is True): 
    //code 
    //update variable in booleanStatement
```

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1 # count = count + 1



---

# Functions
> Functions are sets of code that we can reuse to perform certain actions.

```
def functionName(parameters*): 
    //code 
    return *value you want to return
```

In [ ]:
def returnVal():
    return 5
returnVal()

In [ ]:
def addThree(num):
    return num + 3
addThree(5)

# Breakout Rooms!

### **Exercise:** 
#### Write a Python function to sum all the numbers in a list.

In [ ]:
def sumList(my_list):
    total = ...
    for ...
        ...
    return ...
sumList([1, 2, 3])

# Come Back!



---

# Making Choices with Conditionals
> Conditionals use boolean values to determine what set of code to run

When we start working with a lot of data, we might want to start treating different groups of data different from others. Let's see how in the next cell.

In [ ]:
number = 15
if number > 0:
    print(number, "is positive!")

This is helpful for positive numbers, but I also want to account for negative numbers.

In [ ]:
number = -15 
if number > 0:
    print(number, "is positive!")
else:
    print(number, "is negative!")

But wait, what if I input zero, I don't think that's negative or positive.

In [ ]:
number = 0
if number > 0:
    print(number, "is positive!")
elif number < 0:
    print(number, "is negative")
else:
    print(number, "is zero!")

General Structure of `if statement`:  

    if True:
        # Run This Code
    elif True:
        # Run this code
    elif ... (You can have indefinite number of elif statements
    else:
        # Everything else was False, run this code.

**Note:** All numbers (except 0) and strings on their own are evaluted as True values.

In [ ]:
if 1:
    print(True)

In [ ]:
if 0:
    print(True)
else:
    print(False)

In [ ]:
if "Anything":
    print(True)

In the first section, we mentioned **boolean values**.

Boolean values are **True** or **False**.

These are most often calculated using relational operators. Some examples of relational operators are:


```
# Check if two values are equal (==)
5 == 1
False

#Check if two values are NOT equal (!=)
5 != 1
True

# Greater than or equal to (>=)
5 >= 1
True

# Less than or equal to (<=)
5 <= 1
False

# Less than (<)
5 < 5
False

# Greater than (>)
5 > 1
True

#Check if a value contains another value (in)
'UC' in 'UC Berkeley'
True
```

I want split up the classes I've taken into 3 lists of different departments: Data Science Classes, CS Classes, and Other Classes

In [ ]:
courses_ive_taken = ["CS 61A", "Data 8", "Anthro 2AC", "CS 61B", "English R1A", "Data 100", "CS 188"]
cs_courses = []
ds_courses = []
other_courses = []

for course in courses_ive_taken:
    if "Data" in course:
        ds_courses.append(course)
    elif "CS" in course:
        cs_courses.append(course)
    else:
        other_courses.append(course)
        
#can use \n to add a new line between elements
print("Data Science Classes:", ds_courses, "\nCS Classes:", cs_courses, "\nOther Classes:", other_courses)

# Breakout Rooms!

### **Exercise:** 
#### Write a function that counts the number of numbers that are divisible by 2 or 3 in a list. 

**Hint:** Numbers that are divisible will have a modulo expression equal to zero.

In [ ]:
def divisible(num_list):
    
    divisible_by_2 = ...
    divisible_by_3 = ...
    both_divisible = ...
    not_divisible = ...
    
    for num in num_list :
        if ... and ...:
            ...
        elif ...:
            ...
        elif ...:
            ...
        else:
            ...
    return divisible_by_2, divisible_by_3, not_divisible, both_divisible

divisible([23, 7, 4, 18])

# Come Back!



---

# Libraries
> Python has a lot more built-in functions that are stored in libraries. By importing these libraries, we can access all the functions in that library. To use functions from a library, you can't call the function like you can with print() or type, you have to specify the library name, followed by a period, and then the name of the function you want to use. <br><br>
**libraryName.functionName(*parameters)**

In [ ]:
import matplotlib.pyplot as plt



---

# Plotting

> In data analysis, it's important to be able to visualize your data to make it easier to identify patterns, trends and outliers in large data sets. One way to visualize data is by plotting it. We'll see how to use matplotlib to make plotting easier :)

We're going to be using some functions from matplotlib found here: https://matplotlib.org/stable/tutorials/introductory/pyplot.html

In [ ]:
plt.plot([1, 2, 3, 4])
plt.ylabel('some numbers')
plt.show()

If you provide a single list or array to plot, matplotlib assumes it is a sequence of y values, and automatically generates the x values for you. Since python ranges start with 0, the default x vector has the same length as y but starts with 0; therefore, the x data are [0, 1, 2, 3].

In [ ]:
plt.plot([1, 2, 3, 4], [1, 4, 9, 16])
plt.xlabel("x values")
plt.ylabel("y values")
plt.title("Plot")
plt.show()

In [ ]:
plt.plot([0, 3, 6, 9], [20, 24, 25, 28.5], 'g^')
plt.xlabel("Age (months)")
plt.ylabel("Height (cm)")
plt.title("Height vs. Age")
plt.axis([0, 10, 15, 30])
plt.show()

### **Exercise:** 
#### Write a function to plot a line given x values, y values, axis labels, and a title. 

**Note:** Feel free to change the color or style of the line :)

# Breakout Rooms!

In [ ]:
def visualize(x_vals, y_vals, xlabel, ylabel, title):
    ...
    ...
    ...
    ...
    ...
visualize([329.79, 332.14, 334.32, 335.94, 337], [2017, 2018, 2019, 2020, 2021], "Population (millions)", "Year", "US Population, 2017-2021")

# Come Back!

### **Additional Information**: Commenting

Throughout this workshop we have seen a couple of examples of commenting within your code using the hash (#) symbol. Another convenient way of commenting your code that will be extremely useful if you are working on a group project is through docstrings

In [ ]:
#This Function converts temperatures inputted in Fahrenheit to Celsius
#Parameters: temperature in Fahrenheit
#Return Type: int
def f_to_c(temp):
    return (int)((temp - 32) * (5/9))

In [ ]:
def f_to_c(temp):
    """Return a new array containing the original data
       with its mean offset to match the desired value."""
    return (int) ((temp -32) * (5/9))
help(f_to_c)

# Thank You for Attending
## PLEASE COMPLETE THIS POST-WORKSHOP SURVEY: https://forms.gle/ehqSxxtgYENsbUts7

Feel free to reach out to us if you have any other questions.

# More Resources

Thank you so much for attending this workshop. There is always more to learn so we have listed some helpful resources below as you continue your Data Learning Journey.

1. Discovery Consultants - We help Undergrads and Graduate students with projects, research, and more! Come to our drop-in hours. https://data.berkeley.edu/consulting
2. Stack Overflow & Google - https://stackoverflow.com/
3. W3Schools - https://www.w3schools.com/python/
4. Software Carpentry - https://swcarpentry.github.io/python-novice-inflammation/
5. MathPlotLib - https://matplotlib.org/stable/tutorials/introductory/pyplot.html